@page "/"

@inject Geren.Sample.Api Api

<h1>Geren Samples Client</h1>

<p>Server says:</p>

<pre>@_message</pre>

@code {
    private string _message = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        _message = await Api.GetHello(CancellationToken.None);
    }
}
